<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "ir.majestic.monopoly.board"
        versionCode = "1" 
        version     = "1.0" >

    <!-- versionCode is optional and Android only -->

    <name>MONOPOLY BOARD</name>
	
	<preference name="permissions" value="none"/>

    <description>
        MONOPOLY BOARD (BRITISH)
    </description>

    <author email="vahid.seo.v@gmail.com">
        Vahid Seo
    </author>

</widget>