@charset "UTF-8";

/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/SKK6Nusyv8QPNMtI4j9J2yEAvth_LlrfE80CYdSH47w.woff2') format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/gFXtEMCp1m_YzxsBpKl68iEAvth_LlrfE80CYdSH47w.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

*, *:after, *:before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 8vmin;
	font-family: arial, 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	font-weight: 500;
	-webkit-transform: translateZ(0);
}

body {
	background: rgba(29,109,167,1);
	background: -moz-linear-gradient(0deg, rgba(24,35,41,1) 0%, rgba(29,109,167,1) 100% 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(24,35,41,1)), color-stop(100%, rgba(29,109,167,1)));
	background: -webkit-linear-gradient(0deg, rgba(24,35,41,1) 0%, rgba(29,109,167,1) 100%);
	background: -o-linear-gradient(0deg, rgba(24,35,41,1) 0%, rgba(29,109,167,1) 100%);
	background: -ms-linear-gradient(0deg, rgba(24,35,41,1) 0%, rgba(29,109,167,1) 100%);
	background: linear-gradient(90deg, rgba(24,35,41,1) 0%, rgba(29,109,167,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#182329', endColorstr='#1d6da7',GradientType=1 );
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
}

p {
	text-align: center;
	line-height: 1.2vmin;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	font-smoothing: antialiased !important;
	cursor: default;
}

#board {
	position: absolute;
	height: 100vmin;
	width: 100vmin;
	left: 50%;
	margin-left: -50vmin;
	background: #d5efeb;
	border: 0.1vmin solid #000000;
	z-index: 0;
	-moz-box-sizing: initial;
	-webkit-box-sizing: initial;
	box-sizing: initial;
	overflow: hidden;
}

.row {
	width: 100%;
	height:14%;
	position: absolute;
	border-top: 0.1vmin solid #000000;
	z-index: 1;
}

.bottom {
	bottom: 0;
}

.left {
	left: -43%;
	bottom: 43%;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.top {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.right {
	left: 43%;
	top: 43%;
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

.property {
	position: absolute;
	height: 100%;
	width: 8%;
	border: 0.1vmin solid #000000;
	z-index: 2;
}

.square {
	width: 14%;
	width: 14%;
}

#p1, #p11, #p21, #p31 {
	right: 0;
}

#p2, #p12, #p22, #p32 {
	right: 14%;
}

#p3, #p13, #p23, #p33 {
	right: 22%;
}

#p4, #p14, #p24, #p34 {
	right: 30%;
}

#p5, #p15, #p25, #p35 {
	right: 38%;
}

#p6, #p16, #p26, #p36 {
	right: 46%;
}

#p7, #p17, #p27, #p37 {
	right: 54%;
}

#p8, #p18, #p28, #p38 {
	right: 62%;
}

#p9, #p19, #p29, #p39 {
	right: 70%;
}

#p10, #p20, #p30, #p40 {
	right: 78%;
}

.street {
	position: absolute;
	width: 100%;
	height: 25%;
	z-index: 3;
	border-bottom: 0.1vmin solid #000000;
	cursor: pointer;
}

.price {
	position: absolute;
	width: 100%;
	font-size: 1.3vmin;
	bottom: 5%;
	text-align: center;
	padding-left: 1em;
}

.currency {
	position: absolute;
	margin-left: -1em;
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	bottom: 0;
	top: 0;
	bottom: 0.2vmin
}

.pay {
	margin-right: 1em;
}

#p39 > .price, #p5 > .price {
	padding-left: 0;
}

#p2 > .street, #p4 > .street {
	background: #71442e;
}

#p7 > .street, #p9 > .street, #p10 > .street {
	background: #99ddee;
}

#p12 > .street, #p14 > .street, #p15 > .street {
	background: #e842bd;
}

#p17 > .street, #p19 > .street, #p20 > .street {
	background: #ff8d00;
}

#p22 > .street, #p24 > .street, #p25 > .street {
	background: #ff0000;
}

#p27 > .street, #p28 > .street, #p30 > .street {
	background: #ffdd00;
}

#p32 > .street, #p33 > .street, #p35 > .street {
	background: #229222;
}

#p38 > .street, #p40 > .street {
	background: #516fff;
}

#p1 {
	background: url(../img/Go.svg) no-repeat;
	background-size: 85%;
	background-position: center;
}

#p5 {
	background: url(../img/IT.svg) no-repeat;
	background-size: 85%;
	background-position: center;
}

#p3, #p18, #p34{
	background: url(../img/CC.svg) no-repeat;
	background-size: 85%;
	background-position: center;
}

#p6, #p16, #p26, #p36 {
	background: url(../img/RR.svg) no-repeat;
	background-size: 85%;
	background-position: center;
}

#p8 {
	background: url(../img/C1.svg) no-repeat;
	background-size: 100%;
	background-position: center;
}

#p11 {
	background: url(../img/Jail.svg) no-repeat;
	background-size: 75%;
	background-position: top left;
}

#p13 {
	background: url(../img/EC.svg) no-repeat;
	background-size: 85%;
	background-position: center;
}

#p21 {
	background: url(../img/FP.svg) no-repeat;
	background-size: 60%;
	background-position: center;
}

#p23 {
	background: url(../img/C2.svg) no-repeat;
	background-size: 100%;
	background-position: center;
}

#p29 {
	background: url(../img/WW.svg) no-repeat;
	background-size: 85%;
	background-position: center;
}

#p31 {
	background: url(../img/GoToJail.svg) no-repeat;
	background-size: 75%;
	background-position: center;
}

#p37 {
	background: url(../img/C3.svg) no-repeat;
	background-size: 100%;
	background-position: center;
}

#p39 {
	background: url(../img/LT.svg) no-repeat;
	background-size: 75%;
	background-position: center;
}

.m45-text {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0.3vmin;
	left: 0.3vmin;
	font-size: 1.2vmin;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	font-weight: bold;
}

.m45-text > .currency {
	bottom: initial;
	top: initial;
	margin-left: 0;
}

.m45-text > .m45-top {
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 1.5vmin;
	left: 0;
	top: 0;
}

.m45-text > .m45-bottom {
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 1.5vmin;
	left: 0;
	top: 100%;
	margin-top: -2em;
}

.jail-text {
	width: 100%;
	height: 100%;
	font-size: 1.5vmin;
}

.jail-text > .j1 {
	position: absolute;
	bottom: 1ex;
	left: 50%;
	margin-left: -2em;
}

.jail-text > .j2 {
	position: absolute;
	right: -1em;
	bottom: 1ex;
	margin-bottom: 4em;
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.name {
	position: relative;
	top: 5%;
	font-size: 0.9vmin;
	font-weight: 700;
}

.st-name {
	top: 30%;
}

@-moz-document url-prefix() {
	p {
		font-weight: lighter !important;
		

	}
	.currency {
		bottom: 0;
	}
}

.buildings {
	width: 96%;
	height: 86%;
	position: absolute;
	top: 8%;
	left: 2%;
}

.one-house {
	width: 24%;
	background: -webkit-linear-gradient(left, #000000 0%, #4caf50, #4caf50 50%, #2a6b2d 50%, #2a6b2d 100%, #000000 100%);
	background: -o-linear-gradient(right, #000000 0%, #4caf50, #4caf50 50%, #2a6b2d 50%, #2a6b2d 100%, #000000 100%);
	background: -moz-linear-gradient(right, #000000 0%, #4caf50, #4caf50 50%, #2a6b2d 50%, #2a6b2d 100%, #000000 100%);
	background: linear-gradient(to right, #000000 0%, #4caf50, #4caf50 50%, #2a6b2d 50%, #2a6b2d 100%, #000000 100%);
}

.two-houses {
	width: 48%;
	background: -webkit-repeating-linear-gradient(left, #000000 0%, #4caf50, #4caf50 24%, #2a6b2d 25%, #2a6b2d 48%, #000000 48%, rgba(0,0,0,0) 48%);
	background: -o-repeating-linear-gradient(right, #000000 0%, #4caf50, #4caf50 24%, #2a6b2d 25%, #2a6b2d 48%, #000000 48%, rgba(0,0,0,0) 48%);
	background: -moz-repeating-linear-gradient(right, #000000 0%, #4caf50, #4caf50 24%, #2a6b2d 25%, #2a6b2d 48%, #000000 48%, rgba(0,0,0,0) 48%);
	background: repeating-linear-gradient(to right, #000000 0%, #4caf50, #4caf50 24%, #2a6b2d 25%, #2a6b2d 48%, #000000 48%, rgba(0,0,0,0) 48%);
}

.three-houses {
	width: 72%;
	background: -webkit-repeating-linear-gradient(left, #000000 0%, #4caf50, #4caf50 16.6%, #2a6b2d 16.6%, #2a6b2d 33.2%, #000000 33.2%, rgba(0,0,0,0) 33.2%);
	background: -o-repeating-linear-gradient(right, #000000 0%, #4caf50, #4caf50 16.6%, #2a6b2d 16.6%, #2a6b2d 33.2%, #000000 33.2%, rgba(0,0,0,0) 33.2%);
	background: -moz-repeating-linear-gradient(right, #000000 0%, #4caf50, #4caf50 16.6%, #2a6b2d 16.6%, #2a6b2d 33.2%, #000000 33.2%, rgba(0,0,0,0) 33.2%);
	background: repeating-linear-gradient(to right, #000000 0%, #4caf50, #4caf50 16.6%, #2a6b2d 16.6%, #2a6b2d 33.2%, #000000 33.2%, rgba(0,0,0,0) 33.2%);
}

.four-houses {
	width: 96%;
	background: -webkit-repeating-linear-gradient(left, #000000 0%, #4caf50, #4caf50 12%, #2a6b2d 12%, #2a6b2d 23%, #000000 23%, rgba(0,0,0,0) 26%);
	background: -o-repeating-linear-gradient(right, #000000 0%, #4caf50, #4caf50 12%, #2a6b2d 12%, #2a6b2d 23%, #000000 23%, rgba(0,0,0,0) 26%);
	background: -moz-repeating-linear-gradient(right, #000000 0%, #4caf50, #4caf50 12%, #2a6b2d 12%, #2a6b2d 23%, #000000 23%, rgba(0,0,0,0) 26%);
	background: repeating-linear-gradient(to right, #000000 0%, #4caf50, #4caf50 12%, #2a6b2d 12%, #2a6b2d 23%, #000000 23%, rgba(0,0,0,0) 26%);
}

.hotel {
	width: 70%;
	left: 15%;
	background: -webkit-linear-gradient(#b12828 50%, #de1414 50%, #de1414 100%, #000000 100%);
	background: -o-linear-gradient(#b12828 50%, #de1414 50%, #de1414 100%, #000000 100%);
	background: -moz-linear-gradient(#b12828 50%, #de1414 50%, #de1414 100%, #000000 100%);
	background: linear-gradient(#b12828 50%, #de1414 50%, #de1414 100%, #000000 100%);
	border: 0.1vmin solid rgba(0,0,0,0.5);
}

#community {
	position: absolute;
	z-index: 3;
	width: 20vmin;
	height: 12vmin;
	border: 0.1vmin dashed #000000;
	top: 22vmin;
	left: 18vmin;
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	cursor: pointer;
	border: 1vmin solid transparent;
	-moz-border-image: url('../img/Border.svg') 18 round;
	-webkit-border-image: url('../img/Border.svg') 18 round;
	-o-border-image: url('../img/Border.svg') 18 round;
	border-image: url('../img/Border.svg') 18 round;
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}

#community:before {
	content: '';
	position: absolute;
	display: block;
	width: 94%;
	height: 94%;
	left: 3%;
	top: 3%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0.3vmin solid #02b5d2;
	background: -webkit-linear-gradient(#38a2fd, #d2e9fd);
	background: -o-linear-gradient(#38a2fd, #d2e9fd);
	background: -moz-linear-gradient(#38a2fd, #d2e9fd);
	background: linear-gradient(#38a2fd, #d2e9fd);
}

#community:after {
	content: '';
	position: absolute;
	display: block;
	width: 94%;
	height: 94%;
	left: 3%;
	top: 3%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-image: url('../img/CC.svg');
	background-repeat: no-repeat;
	background-size: 45%;
	background-position: center;
}

#chance {
	position: absolute;
	z-index: 3;
	width: 20vmin;
	height: 12vmin;
	border: 1vmin solid transparent;
	-moz-border-image: url('../img/Border.svg') 18 round;
	-webkit-border-image: url('../img/Border.svg') 18 round;
	-o-border-image: url('../img/Border.svg') 18 round;
	border-image: url('../img/Border.svg') 18 round;
	bottom: 22vmin;
	right: 18vmin;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	cursor: pointer;
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}

#chance:before {
	content: '';
	position: absolute;
	display: block;
	width: 94%;
	height: 94%;
	left: 3%;
	top: 3%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0.3vmin solid #ff8100;
	background: -webkit-linear-gradient(#ff6b01, #fba200);
	background: -o-linear-gradient(#ff6b01, #fba200);
	background: -moz-linear-gradient(#ff6b01, #fba200);
	background: linear-gradient(#ff6b01, #fba200);
}

#chance:after {
	content: '';
	position: absolute;
	display: block;
	width: 94%;
	height: 94%;
	left: 3%;
	top: 3%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-image: url('../img/C4.svg');
	background-repeat: no-repeat;
	background-size: 45%;
	background-position: center;
}

#monopoly {
	width: 50vmin;
	height: 14vmin;
	position: absolute;
	z-index: 3;
	background: url('../img/Monopoly.svg') no-repeat;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 43vmin;
	left: 50%;
	margin-left: -25vmin;
	background-size: contain;
}

#logo {
	width: 8vmin;
	height: 8vmin;
	position: absolute;
	z-index: 3;
	background: url('../img/Logo.svg') no-repeat;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	right: 50%;
	top: 76vmin;
	margin-right: -36vmin;
	background-size: contain;
}

.player {
	position: absolute;
	z-index: 5;
	width: 8vmin;
	height: 8vmin;
	background-size: 16vmin;
	background-image: url('../img/Tokens1.svg');
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0.3vmin solid #aaaaaa;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#player1 {
	right: 6%;
	bottom: 6%;
}

#player2 {
	right: 0%;
	bottom: 0%;
}

#player3 {
	right: 0%;
	bottom: 6%;
	display: none;
}

#player4 {
	right: 6%;
	bottom: 0%;
	display: none;
}

.TopHat {
	background-position: 0vmin -8vmin;
	border-color: red;
}

.Iron {
	background-position: 0vmin 0vmin;
	border-color: green;
}

.RaceCar {
	background-position: -8vmin 0vmin;
	border-color: blue;
}

.Battleship {
	background-position: -8vmin -8vmin;
	border-color: orange;
}

#startPage, #bank {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	background: rgba(24,35,41,1);
	background: -moz-linear-gradient(0deg, rgba(24,35,41,1) 0%, rgba(0,125,92,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(24,35,41,1)), color-stop(100%, rgba(0,125,92,1)));
	background: -webkit-linear-gradient(0deg, rgba(24,35,41,1) 0%, rgba(0,125,92,1) 100%);
	background: -o-linear-gradient(0deg, rgba(24,35,41,1) 0%, rgba(0,125,92,1) 100%);
	background: -ms-linear-gradient(0deg, rgba(24,35,41,1) 0%, rgba(0,125,92,1) 100%);
	background: linear-gradient(90deg, rgba(24,35,41,1) 0%, rgba(0,125,92,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#182329', endColorstr='#007d5c',GradientType=1 );
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s  ease-in;
	transition: all 0.3s ease-in;
	text-align: center;
}

#bank {
	right: 100%;
	font-size: 4vmin;
}

table {
	margin: 5vmin auto;
	color: #ffffff;
}

td {
	border-left: 0.7vmin dashed #ffffff;
	border-right: 0.7min dashed #ffffff;
}

#startPage > div {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 0;
}

#startPage > div > label {
	color: white;
	font-size: 10vmin;
}

#startPage > div > button {
	color: white;
	background: -moz-linear-gradient(top, #62c60f 0%, #1b930b 51%, #309b0c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62c60f), color-stop(51%,#1b930b), color-stop(100%,#309b0c));
	background: -webkit-linear-gradient(top, #62c60f 0%,#1b930b 51%,#309b0c 100%);
	background: -o-linear-gradient(top, #62c60f 0%,#1b930b 51%,#309b0c 100%);
	background: -ms-linear-gradient(top, #62c60f 0%,#1b930b 51%,#309b0c 100%);
	background: linear-gradient(to bottom, #62c60f 0%,#1b930b 51%,#309b0c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62c60f', endColorstr='#309b0c',GradientType=0 );
	background: #62c60f;
	text-align: center;
	padding: 6vmin;
	display: inline-block;
	font-size: 6vmin;
	width: 90vmin;
	height: 20vmin;
	text-shadow: 1px 0px 1px #434343;
	cursor: pointer;
	position: relative;
	margin: 2vmin;
}

#startPage > div > input {
	font-size: 10vmin;
	height: 10vmin;
	text-align: center;
}

#startPage > div > div {
	width: 100%;
	height: 20vmin;
	background-image: url('../img/Monopoly.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 5vmin 0;
}

td:first-of-type {
	text-align: left;
	border-left: none;
}

tr:first-of-type > td {
	border-bottom: 0.7vmin dashed #ffffff !important;
}

td > input {
	width: 15vmin;
	height: 5vmin;
	font-size: 3vmin;
}

#p3bank {
	display: none;
}

#p4bank {
	display: none;
}

.p0color, .p1color, .p2color, .p3color, .p4color {
	width: 3vmin;
	height: 3vmin;
	display: inline-block;
}

.p0color {
	background: white;
}

.p1color {
	background: red;
}

.p2color {
	background: green;
}

.p3color {
	background: blue;
}

.p4color {
	background: orange;
}